<div>
    <h1>login</h1>
    <form id="loginForm">
        <label>Correo;</label>
        <input name="email">
        <br/>
        <label>Contraseña:</label>
        <input name="password" type="password">
        <input type="submit">
    </form>
    <p>¿No tienes cuenta? <a href="/register">Registrate aqui</a></p>
    <p>Entrar con GitHub <a href="/api/session/github">Click aqui</a></p>
    <p>¿Olvidaste la clave? <a href="/resetPassword">Restaurala aqui</a></p>
</div>
<script src="/js/login.js"></script>