<div>
    <h1>Reset Password</h1>
    <form id="restartPasswordForm">
        <label>Email: </label>
        <input name="email">
        <label>Nueva Contraseña:</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
<script src="/js/restartPassword.js"></script>